*{
    font-family: 'Work Sans', sans-serif;
}
.container{
    max-width: 1440px;
    margin: 10px auto;
}
/* Common CSS */
section{
    margin-bottom: 100px;
}
header{
    margin-bottom: 50px;
}
.text-gray{
    color:#727272;
}
.text-black{
    color:#131313;
}
.hide{
    display: none;
}
.btn-primary{
    font-size: 1.25rem;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    color: #FFF;
    cursor: pointer;
    padding: 20px 24px;
}
.title{
    font-weight: 700;
    font-size: 45px;

}
.description{
    line-height: 26px;
    font-size: 1rem;
}
/* Header Styles */
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding-bottom: 20px;
}
nav, ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul>li{
    list-style: none;
}
.logo h3{
    font-size: 3rem;
    font-weight: 700;
}

ul>li {
    padding: 0 20px;
}

ul> li>a{
    font-size: 1.12rem;
    text-decoration: none;
    color: #424242;
}

/* Banner Styles */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
}

.banner-image{
    margin: 20px;
    text-align: center;

}
.banner-image img{
    width: 100%;
    
}
/* Teams section styles */
.teams-container{
    display: flex;
    column-gap: 4.5rem;
    align-items: center;
}
.teams-gallery{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2,1fr);
}
.teams-title{
    width: 60%;
}
.text-quick{
    font-weight:500;
}
.text-features{
    color: #FF900E;
}

/* Facts Section */
.facts-content{
    width: 37%;
}
.facts-card-container {
    display: flex;
    justify-content: space-around;
}
.facts-card-container .card {
    text-align: center;
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 35px 35px 30px;
}
.facts-card-container  .card .card-stats {
    margin-top: 10px;
    font-size: 2.8rem;
    font-weight: 600;
    color: #424242;
    margin-bottom: 10px;
}
.facts-card-container  .card .card-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 10px;
}



@media screen and (max-width:998px) {
    .logo h3{
        font-size: 2rem;
    }
    .teams-container{
        flex-direction: column;
    }
    .teams-content {
        text-align: center;
    }
    .teams-title{
        width: auto;
    }
}

/* For medium Screens  */
@media screen and (max-width:764px) {

    nav .logo{
        font-size: 1.5rem;
    }
    ul> li>a{
        font-size: 1.1rem;
    }
    nav, ul{
        flex-direction: column;
        gap: 15px;
    }
    .banner-title{
        font-size: 2.5rem;
    }
    nav>ul{
        padding: 0;
    }
    .banner-content{
        margin-top: -50px;
        padding: 30px;
    }

    .teams-gallery div img{
        width: 100%;
    }
    .teams-description{
        padding: 0 20px;
    }


}
/* For Small Screen */
@media screen and (max-width:578px){
    nav .logo{
        font-size: 1.2rem;
    }
    .banner-content{
        padding: 10px;
    }
    .banner-title{
        font-size: 2rem;
    }
    .banner-description{
        font-size: 0.875rem;
    }
    .btn-primary{
        font-size: 1rem;
    }
    .teams-gallery{
        grid-template-columns: 1fr;
    }
}